<div class="container">
  <div class="calendar">
    <header>
      <pre class="left" (click)="prevMonth()">◀</pre>
      
      <div class="header-display">
        <p class="display">{{ display }}</p>
      </div>

      <pre class="right" (click)="nextMonth()">▶</pre>
    </header>

    <div class="week">
      <div *ngFor="let day of ['Sunday','Monday','Tuesday','Wensday','Thusday','Friday','Saturday ']">{{day}}</div>
    </div>

    <div class="days">
      <div *ngFor="let day of days" (click)="fnSelectDate(day)" (click)="showAddTaskModal(demoModal,day)"
           [ngClass]="{'current-date': day === today.date && month === today.month && year === today.year}">
        {{ day !== 0 ? day : '' }} 

        <ul *ngIf="day !== 0">
          <li *ngFor="let task of getTasksForDate(year + '-' + (month + 1) + '-' + day).slice(0, 3); let i = index" 
              (click)="showEditModal($event, editTaskModal, i, task)" [style.background-color]="task.color">
            <!-- {{ task.text }} -->
            {{ task.text.length > 10 ? task.text.slice(0, 6) + '...' : task.text }}

          </li>
        
          <!-- Show +X others if more than 3 tasks exist -->
          <li *ngIf="getTasksForDate(year + '-' + (month + 1) + '-' + day).length > 3" 
              (click)="showAllTasks(year + '-' + (month + 1) + '-' + day)">
            +{{ getTasksForDate(year + '-' + (month + 1) + '-' + day).length - 3 }} others
          </li>
        </ul>
        
      </div>
    </div>

</div>



<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add task</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="Add task" [(ngModel)]="strNewTask">
  </div>
  <!-- <div class="select-color">
     <div *ngFor="let item of colors" [style.background-color]="item.color"></div>
  </div> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSubmitModal()">Save</button>
  </div>
</ng-template>

<ng-template #editTaskModal let-modal>
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Task</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div> -->
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="Add task" [(ngModel)]="strNewTask">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="fnUpdateTask()">Update</button>
    <button type="button" class="btn btn-dark" (click)="fndeleteTask()">Delete</button>

  </div>
</ng-template>